body{
    background-color: rgb(0, 0, 0);
}

div{
    
    position: relative;
    top: 86%;
    left: 39%;
    height: 47px;
    width: 163px;
    padding-left: 10px;
    background-color: aqua;
  
}