.centerText {
    text-align: center;
  }

  .textColor {
    color: white;
  }

  .backGoundColor {
    background-color: black;
  }

  .roundButton {
    border-radius: 50%;
  }
  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  /*to center the image*/
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }