.centerText {
    text-align: center;
  }

  .textColor {
    color: white;
  }

  .backGoundColor {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  .roundButton {
    border-radius: 50%;
  }
  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  /*to center the image*/
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.centerDiv {
  margin: auto;
  width: 60%;
  border: 3px solid #000000;
  padding: 10px;
}